.container{
    height: 92vh;
    font-family: Lato, sans-serif;
}
.audio-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio-file-input {
    width: 80%;
    height: 60vh;
    padding: 10px;
    border: 3px solid #808080;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
    margin-bottom: 20px;
}
.audio-file-input::-webkit-file-upload-button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    margin-top: 18%;
}
.audio-file-input::-webkit-file-upload-button:hover {
    background-color: black;
}
.audio-file-input::-moz-file-upload-button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    margin-top: 18%;
}
.audio-file-input::-moz-file-upload-button:hover{
    background-color: black;
}
.record-audio-button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    width: 150px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.record-audio-button:hover {
    background-color: black;
}
